.color1{
    background: #d9dfa1;
	color:rgb(16, 13, 218);
}
.color2{
    background: rgb(187, 187, 187);
	color:rgb(187, 187, 187);
}
.color3{
    background: #a0124d;
	color:rgb(0, 0, 0);
}
footer {
	background:#720dac;
	color:#fff;
}
